<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FITSExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FITSExplorer.Properties.Settings>
            <setting name="TempFiles_UseMemoryStream" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Window_Top" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Window_Left" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Window_Width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Window_Height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Window_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastUsedFolder" serializeAs="String">
                <value />
            </setting>
        </FITSExplorer.Properties.Settings>
    </userSettings>
</configuration>